html, body {
  height: 100%;
}
#client_root,
#client_root > .container-fluid,
#client_root > .container-fluid > .row,
#client_root > .container-fluid > .row > *,
{
  height: 100%;
}

$sidebar-bg-color: #282A36;
$sidebar-color: #FFFFFF;
$active-channel-color: #8BE9FD;
$active-channel-bg-color: #44475A;
$channel-hover-color: #6272A4;
.sidebar {
  background-color: $sidebar-bg-color;
  color: $sidebar-color;
  padding: 2rem 1rem;

  a {
    color: $sidebar-color;
    opacity: 0.6;
  }
}

li.channel-name {
  .prefix {
    margin-right: 0.5rem;
    color: darken($sidebar-color, 30%);
  }
  a {
    color: $sidebar-color;
    display: block;
    padding: 0.2rem 1rem;
    text-decoration: none;
    &:hover {
      background-color: $channel-hover-color;
    }
  }
  &.active a {
    background-color: $active-channel-bg-color;
    color: $active-channel-color;
    opacity: 1;
  }
  &.active .prefix {
    color: $active-channel-color;
  }
}

.footer {
  bottom: 0;
  position: absolute;
  padding: 1rem 0.5rem;
  width: 95%;
  box-sizing: border-box;
}
