<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Tony Han">
    <meta property="og:site_name" content="Exchat">
    <meta property="og:description" content="Another Slack-like app by Elixir, Phoenix & React(redux)">

    <title>ExChat</title>
  </head>

  <body>
    <%= render @view_module, @view_template, assigns %>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
