$sidebar-bg-color: #282A36;
$sidebar-color: #FFFFFF;
$active-channel-color: #8BE9FD;
$active-channel-bg-color: #44475A;
$channel-hover-color: #6272A4;

.navigate-sidebar {
  background-color: $sidebar-bg-color;
  color: $sidebar-color;
  padding: 2rem 1rem;

  .channel-nav {
    color: $sidebar-color;
    opacity: 0.6;
  }
}

.channel-nav {
  .prefix-icon {
    margin-right: 0.5rem;
    color: darken($sidebar-color, 30%);
  }
  .channel-link {
    color: $sidebar-color;
    display: block;
    padding: 0.2rem 1rem;
    text-decoration: none;
    border-radius: 2px;
    &:hover {
      background-color: $channel-hover-color;
    }
  }
}
.channel-nav.-active {
  opacity: 1;
  .channel-link {
    background-color: $active-channel-bg-color;
    color: $active-channel-color;
  }
  .prefix-icon {
    color: $active-channel-color;
  }
}
